.annotation {
  position: absolute;
  background-color: black;
  color: black;
  text-align: center;
  padding: 10px 10px;
  font-size: 12px;
  border-radius: 20px;
  cursor: pointer;
  width: 1px;
  height: 1px;
  border: 1px solid #ADADAD;
}

.annotation.table {
  position: relative;
}


.annotation.unknown {
}

.annotation.outer::before {
  content: "";
  position: absolute;
  top: 40%;
  width: 8px;
  height: 2px;
  border: 1px solid transparent;
  /* border-top-color: #2222ff; */
  /* border-bottom: 0; */
  background-color: #006CEB;
  margin: 0px;
  right: 101%;
}

.annotation.outer::after {
  content: "";
  position: absolute;
  top: 40%;
  width: 8px;
  height: 2px;
  border: 1px solid transparent;
  /* border-top-color: #2222ff; */
  /* border-bottom: 0; */
  background-color: #006CEB;
  margin: 0px;
  left: 101%;
}


.annotation.inner::after {
  content: "";
  position: absolute;
  top: 40%;
  width: 15px;
  height: 2px;
  border: 1px solid transparent;
  background-color: #006CEB;
  margin: 0px;
  left: 0;
  width: 20px;
}

.annotation.both::after {
  content: "";
  position: absolute;
  top: 40%;
  width: 36px;
  height: 2px;
  border: 1px solid transparent;
  /* border-top-color: #2222ff; */
  /* border-bottom: 0; */
  background-color: #006CEB;
  margin: 0px;
  right: -40%;
}

.annotation.none::after {
  content: "";
  position: absolute;
  top: 40%;
  width: 15px;
  height: 2px;
  border: 1px solid transparent;
  background-color: #006CEB;
  margin: 0px;
  left: 0;
  width: 20px;
  transform: rotate(45deg);
}

.annotation.none::before {
  content: "";
  position: absolute;
  top: 40%;
  width: 15px;
  height: 2px;
  border: 1px solid transparent;
  background-color: #006CEB;
  margin: 0px;
  left: 0;
  width: 20px;
  transform: rotate(-45deg);
}

#image-annotations .annotation:hover {
  box-shadow: 0 0 10px rgba(255, 255, 255, 1);
}

.annotation.selected {
box-shadow: 0 0 10px #006CEB
}

.annotation.dissaranged {
  background-color: #FF7F00;
}

.annotation.extra-tuble {
  background-color: #AB47BC;
}

.annotation.single-tuble {
  background-color: #FFD700;
}

.annotation.transposition {
  background-color: #00CED1;
}

.annotation.one-central-pair-missing {
  background-color: #FF69B4;
}

.annotation.both-missing {
  background-color: #32CD32 ;
}

.annotation.compound {
  background-color: #6b0909 ;
}

.annotation.other {
  background-color: #ff3f3f;
}