.main {
    display: flex;
    justify-content: space-evenly;
}

.left-aside, .right-aside {
    align-items: center;
    background-color: #101021;
    height: 89vh;
}

.main .left-aside {
    border-right: 0.8px solid rgb(45, 45, 66);
    width: 19%;
}

.main .right-aside {
    border-left: 0.8px solid rgb(45, 45, 66);
    width: 22%;
    display: ruby;
    max-width: 89vh;
    overflow-y: auto;
}

.main .right-aside::-webkit-scrollbar {
    width: 3px; 
}

.main .right-aside::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 6px; 
}

.main .main-content {
    display: flex;
    justify-content: center; 
    align-items: center;
    width: 59%;
    height: 89vh;
}

#mainImage {
    max-height: 80vh;
}

.search-div, .uploaded-images, .button-for-images {
    display: flex;
    padding: 16px 12px 12px 12px;
    width: 90%;
}

.button-for-images {
    padding-top: 0;
    justify-content: end;
    column-gap: 5px;
}

.uploaded-images {
    padding: 0px 12px 12px 12px;
    display: block;
    max-height: 70vh; /* Adjust height to leave space for search and button */
    overflow-y: auto;
}

.uploaded-images::-webkit-scrollbar {
    width: 3px; /* Set width of the scrollbar */
}

.uploaded-images::-webkit-scrollbar-thumb {
    background-color: #888; /* Set color of the thumb */
    border-radius: 6px; /* Round the corners of the thumb */
}

.search-div {
    position: relative;
    display: inline-block;
}

.search-div .search {
    background-color: #212134;
    border: 1px solid #212134;
    color: white;
    padding: 8px 12px;
    border-radius: 12px;
    width: 85%;
    padding-left: 30px;
}

.search-div .search:focus {
    outline: 0.8px solid #006CEB;
}

.search-div::before {
    content: '\f002';
    font-family: 'FontAwesome';
    position: absolute;
    top: 50%;
    right: 0px; 
    left: 20px;
    transform: translateY(-50%);
    color: #555; 
    pointer-events: none; 
}

.uploaded-image {
    display: block;
    color: white;
    align-items: center;
    justify-content: space-between;
    border-top: 0.8px solid rgb(45, 45, 66);
    border-bottom: 0.8px solid rgb(45, 45, 66);
    margin-bottom: 8px;
    font-size: 12px;
}

.uploaded-image-collapsible {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.uploaded-image img {
    width: 30%;
    height: 100%;
    margin-right: 10px;
}

.uploaded-image-img-p, .uploaded-image-icons{
    display: flex;
    align-items: center;
}

.uploaded-image-img-p {
    transition: border-color 0.5s ease;
    cursor: pointer;
}

.uploaded-image-collapsible.seen {
    border-right: 3px solid #29C740;
}

.uploaded-image-icons .icon {
    margin-right: 10px;
}

#noAnnotationMessage {
    display: none;
    color: white;
    font-size: 12px;
    text-align: center;
}

.uploaded-image-annotations {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
}
.uploaded-image-annotations.active {
    max-height: fit-content;
}

.table-annotations, .table-annotation-info {
    width: 100%;
    margin-top: 10px;
}

.table-annotations {
    margin-bottom: 10px;
    border-collapse: collapse;
    border-spacing: 0;
}

.table-annotations td:first-child {
    text-align: center;
    align-items: center;
    padding: 0;
    display: inline-flex;
    width: 100%;
    justify-content: center;
}

.table-annotations td:nth-child(2){
    text-align: start;
    padding-left: 10px;
}

.table-annotations td:nth-child(3){
    text-align: end;
}

.table-annotations td:nth-child(4){
padding-left: 10px;
transition: all 0.3s ease-in-out;
}

.table-annotations td:nth-child(4) > *:hover {
    cursor: pointer;
    color: #FF5F58;
    scale: 1.1;
}

.table-annotations tr,  .table-annotation-info tr {
    line-height: 3;
    justify-content: center;
}

.fa-trash-can {
    transition: 0.2s ease-in-out;
}

.fa-trash-can:hover {
    cursor: pointer;
    color: #FF5F58;
    scale: 1.1;
}

.table-annotations tr:hover {
    background-color: #006CEB;
}

.table-annotations tr.active {
    background-color: #006CEB;
}

.selected-row {
    background-color: #212134 !important;
    color: #006CEB;
    /* display: inline-flex; */
}

.icon-annotation {
    font-size: 20px;
}

.chip {
    display: inline-block;
    border-radius: 10px;
    padding-inline: 4px;
    color: white;
    line-height: 2;
}

.icon-clear-search {
    position: absolute;
    top: 24px;
    right: 20px;
    color: #555; 
    font-size: 18px;
}

.collapsible {
    color: white;
    width: 100%;
    border-bottom: 0.8px solid rgb(45, 45, 66);
    padding-top: 4px;
    padding-bottom: 4px;

}

.collapsible-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 16px;
    font-size: 12px;    
}

.collapsible-content {
    display: block;
    max-height: 1000px;
    overflow: hidden;
    padding-inline: 16px;
    font-size: 12px; 
    transition: max-height 0.3s ease-out; 
}

.collapsible-content p {
    margin: 0;
    margin-bottom: 5px;
}

.collapsible-head.collapsed + .collapsible-content {
    max-height: 0;
}

.rotate-right {
    transform: rotate(90deg);
}

.rotate {
    transform: rotate(-90deg);
}

.chevron-rotatable {
    transition: transform 0.3s ease;
}

.stats {
    width: 100%;
}

.stats td {
    padding: 6px;
}

.stats td:first-child {
    font-weight: 500;
}

.stats td:nth-child(2) {
    text-align: end; 
}

.info-icon {
    font-size: smaller;
    padding-bottom: 5px;
    color: white;
    margin-left: 5px;
}

#mtds, #dynein {
    color: white;
    background-color: #212134;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    padding: 6px;
}

#mtds option:hover, #dynein option:hover{
    background-color: #006CEB;
    color: white; 
}

#mtds::after, #dynein::after {
    display: none;
}

#mtds:focus, #dynein:focus {
    outline: 0.8px solid #006CEB;
}

#mtds:hover, #dynein:hover {
    border: 0.8px solid #006CEB;
}

.annotation-info {
    display: flex;
    margin-top: 5px;
    width: 100%;
}

.table-annotation-info {
    width: 100%;
    margin-left: 10px;
    margin-top: 0;
}

.table-annotation-info td:first-child {
    font-weight: 500;
}

.icon-annotation {
    margin-top: 10px;
}

#notes {
    color: white;
    background-color: #212134;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    padding: 10px;
    width: 95%;
    resize: none;
    margin-top: 10px;
    height: 260px;
    /*max-height: 260px;*/
    overflow-y: auto;
}

#notes:focus {
    outline: 0.8px solid #006CEB;
}

#notes::-webkit-scrollbar {
    width: 3px; /* Set width of the scrollbar */
}

#notes::-webkit-scrollbar-thumb {
    background-color: #888; /* Set color of the thumb */
    border-radius: 6px; /* Round the corners of the thumb */
}

.conf-level-info {
    margin: 0px;
}

.tooltip-container {
    display: inline-block;
}

.tooltip {
    position: absolute;
    visibility: hidden;
    width: max-content;
    background-color: #7272a2;
    color: white;
    padding-inline: 4px 10px;
    border-radius: 10px;
    z-index: 1;
    transform: translateX(-50%);
    white-space: nowrap;
    overflow: hidden;
}

.tooltip-container:hover .tooltip {
    visibility: visible;
}

#statistics {
    height: 100%;
    display: none;
}

#image-statistics {
    height: 95%;
    margin-top: 20px;
    width: auto;
}

#welcome-to-run-annotation, .modal-overlay {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

#welcome-to-run-annotation-content {
    width: auto; 
    height: 75%; 
    box-shadow: rgba(0, 0, 0, 0.2) 0px 8px 24px;
    border: 0.8px solid #101021;
    z-index: 100;
    position: relative; 
}

#image-welcome-to-run-annotation {
    border-radius: 10px;
    width: auto;
    height: 100%;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 30px;
    color: white;
    transition: 0.5s ease-out;
    background-color: transparent;
    border: none;
}

.close:hover,
.close:focus {
    color: #006CEB;
    text-decoration: none;
    cursor: pointer;
    scale: 1.2;
}

#welcome-to-run-annotation-content .button {
    position: absolute;
    bottom: 10px;
    right: 20px;
}

#manual-anotate-modal {
    display: none;
    top: 45%;
    left: 40%;
}

#warning-modal {
    width: fit-content;
    height: auto;
    background-color: #FEBC2E;
    border: #FEBC2E solid;
    transition: 0.3s ease-out;
    position: absolute;
    top: 15%;
    left: 75%;
    cursor: pointer;
    z-index: 0;
    display: none;
}

#warning-modal:hover {
    scale: 1.05;
}

#warning-modal .fa-exclamation {
    font-size: 13px; 
    font-weight: 900;
    padding-inline: 0px;
    color: #101021;
}

#warning-expl {
    display: block;
}

#warning-content {
    display: none;
    transition: max-height 0.3s ease-out; /* Adjust the duration and timing function as needed */
}

#warning-content .fa-chevron-up {
    color: #101021;
}

#warning-content p {
    text-align: start !important;
    color: #101021;
    margin: 0 !important;
    padding: 0 !important;
}

#tooltip-warning {
    background-color: #febc2ee3;;
    color: #101021;
    padding: 5px 10px;
    top: 170px;
    text-align: center;
}

@media only screen and (max-width: 1496px) and (max-height: 935px) {
    #mainImage {
        max-height: 70vh;
    }

    .left-aside, .right-aside {
        height: 90vh;
    }

    .uploaded-images {
        max-height: 76vh;
    }
    
}
