.nav-tools-bar {
    background-color: #101021;
    height: 55px;
    padding-inline: 16px;
    display: flex;
    align-items: center;
    left: 0;
    right: 0;
    position: relative;
    border-top: 0.8px solid rgb(45, 45, 66);
    font-weight: 400;
    border-bottom: 0.8px solid rgb(45, 45, 66);
    line-height: 18px;
    font-size: 12px;

    display: grid;
    grid-template-columns: 40% auto auto;
    grid-template-rows: 55px;
}

.nav-tools-bar h5 {
    font-size: 20px;
    font-weight: 500;
    color: #006CEB;
}

.nav-tools-bar .nav-left-side, .nav-right-side {
    display: flex;
    align-items: center;
    /* width: 26%; */
    
}

.nav-middle-side {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

}

.nav-left-side {
    justify-content: start;
    column-gap: 10px;
    color: white;
}

.nav-right-side {
    justify-content: space-between;
    gap: 10px;
    justify-self: end;
}

.logo {
    width: 15px;
    height: 15px;
    border-radius: 10px;
    background-color: #212134;
    padding: 10px;
}

.button-export, .button-share {
    font-weight: 600;
    cursor: pointer;
}

.button-export:hover, .button-share:hover {
    scale: 1.03;
}

.icon-nav {
    font-size: 18px;
}


#mtds-tool {
    color: white;
    background-color: #101021;
    border: none;
    width: fit-content;
    border-radius: 6px;
    cursor: pointer;
}

#mtds-tool option:hover {
    background-color: #006CEB;
   color: white; 
}

#mtds-tool::after {
    display: none;
}

#mtds-tool .select-items div::before {
	content: "haha"
}