.nav-tools-bar {
    background-color: #101021;
    height: 55px;
    padding-inline: 16px;
    display: flex;
    align-items: center;
    left: 0;
    right: 0;
    position: relative;
    border-top: 0.8px solid rgb(45, 45, 66);
    font-weight: 400;
    border-bottom: 0.8px solid rgb(45, 45, 66);
    line-height: 18px;
    font-size: 12px;

    display: grid;
    grid-template-columns: 40% auto auto;
    grid-template-rows: 55px;
}

.nav-tools-bar h5 {
    font-size: 20px;
    font-weight: 500;
    color: #006CEB;
}

.nav-tools-bar .nav-left-side, .nav-right-side {
    display: flex;
    align-items: center;
    /* width: 26%; */
    
}

.nav-middle-side {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

}

.nav-left-side {
    justify-content: start;
    column-gap: 10px;
    color: white;
}

.nav-right-side {
    justify-content: space-between;
    gap: 10px;
    justify-self: end;
}

.logo {
    width: 15px;
    height: 15px;
    border-radius: 10px;
    background-color: #212134;
    padding: 10px;
}

.icon-nav {
    font-size: 18px;
    transition: 0.3s ease-out;
}

.icon-nav:hover {
    scale: 1.1;
}

#mtds-tool {
    color: white;
    background-color: #101021;
    border: none;
    width: fit-content;
    border-radius: 6px;
    cursor: pointer;
}

#mtds-tool option:hover {
    background-color: #006CEB;
   color: white; 
}

#mtds-tool::after {
    display: none;
}

#mtds-tool .select-items div::before {
	content: "haha"
}

.button-icons {
    color: white;
    background-color: transparent;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    align-items: center;
    display: flex;
    margin-right: 5px;
}

.button-icons i {
    margin: 0;
    padding: 0;
    font-size: 15px;
}

.button-icons .mdi-circle-opacity {
    font-size: 20px;
}

.button-icons:hover, .button-icons:focus {
    background-color: #006CEB;
    padding: 10px;
}

.main-button-icons {
    border-left: 0.8px solid rgb(45, 45, 66);
    border-right: 0.8px solid rgb(45, 45, 66);
    display: flex;
    padding-inline: 5px;
}


.dm {
    height: 50px;
}

.slider {
    margin-top: 30px;
}

.ranges {
    display: flex;
    justify-content: space-between;
    color: white;
    font-size: 10px;
    padding-inline: 5px;
}

.ranges p {
    margin: 0 0 10px 0;
}   

#rangeValue {
    position: absolute;
    top: 0px;
    left: 90%;
    transform: translateX(-50%);
    font-size: 10px;
    color: white;
    background-color: #006eeb82;
    padding: 4px 8px;
    border-radius: 10px;
    display: flex;
}

.dropdown {
    position: relative;
    display: inline-block;
}
  
.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #101021;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 10px;
    border: 0.8px solid #101021;
    width: max-content;
}
  
.dropdown-menu a, .dropdown-menu label {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    color: white;
}

.dropdown-menu a:nth-child(2) {
    border-bottom: 1px solid #212134;
    border-top: 1px solid #212134;
}
  
.dropdown-menu a:hover, .dropdown-menu label:hover {
    background-color: #006CEB;
}

.dropdown-content {
    margin-left: -10px;
    border-radius: 10px;
}

#run-annotation {
    top: 45px;
    left: -35px;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

.pulse {
    animation: pulse 2s infinite alternate;
    background-color: #006CEB;
    padding: 8px;
}

.notification-dot {
    position: absolute;
    top: 0;
    right: 0;
    width: 8px;
    height: 8px;
    background-color: #FF5F58;
    border-radius: 50%;
}

#settings-menu {
    top: 45px;
    left: -140px;
    width: 180px;
    background-color: #212134;
    border: 0.8px solid #101021;
}

#settings-menu a:nth-child(1) {
    border-bottom: 1px solid #101021;
}

.toggle-label {
    position: relative;
    display: inline-block;
    margin-left: 10px;
}

.toggle {
    position: absolute;
    top: 22px;
    right: 10px;
    transform: translateY(-50%);
    width: 35px;
    height: 20px;
    background-color: #ccc;
    border-radius: 10px;
    transition: background-color 0.3s;
    cursor: pointer;
}

.toggle::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 3px;
    transform: translateY(-50%);
    width: 9px;
    height: 9px;
    background-color: #fff;
    border-radius: 50%;
    transition: transform 0.3s;
}

input[type="checkbox"] {
    display: none;
}

input[type="checkbox"]:checked + .toggle::after {
    transform: translateX(20px);
    top: 50%;
}

input[type="checkbox"]:checked + .toggle {
    background-color: #29C740; 
    top: 40px;
    left: -35px;
}